@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
    font-weight: 600;
}

.scrollbar-hidden {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}